@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @{ 
        var name = "Arnav";
        int age = 21;

    }
    </div>
    <div>
        <span style="background-color:lightseagreen;width:auto;height:100px"> Name: @name</span>
    </div>
    <div>
        <span style="background-color:lightgreen;width:auto;height:100px"> Age: @age</span>
    </div>
</body>
</html>
