
@{
    ViewBag.Title = "ChangeOrderPrice";
}
<div class="w3-container w3-center">
    <h2>ChangeOrderPrice</h2>
    <form class="w3-container">
        @using (Html.BeginForm())
        {
            if (Session["Data3"] != null)
            {
                CustomerMVC.Models.tbl_order li = (CustomerMVC.Models.tbl_order)Session["Data3"];

                <div>

                    <label>Order ID :</label>
                    <input class="w3-input" type="text" name="txtid" id="txtid" value="@li.OrderId" readonly />
                    <br />
                    <br />
                    <label>Product Name:</label>
                    <input class="w3-input" type="text" name="txtname" id="txtname" value="@li.productName" readonly />
                    <br />
                    <br />
                    <label>Price:</label>
                    <input class="w3-input" type="number" name="price" id="price" value="@li.price" />
                    <br />
                    <br />
                    <input class="w3-btn w3-blue" type="submit" value="Modify" />

                </div>
            }
        }
        </form>
</div>