<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Icalculator" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_Icalculator" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53554/HostCalculatorLibrary.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Icalculator"
                contract="ServiceReference1.Icalculator" name="BasicHttpBinding_Icalculator" />
            <endpoint address="net.tcp://localhost:6500/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_Icalculator" contract="ServiceReference2.Icalculator"
                name="NetTcpBinding_Icalculator">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>